<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>TuRecarga - Tu sitio de recargas por excelencia!</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Tu Sitio De Recargas Internacionales Por Excelencia">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="TuRecarga">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">

</head>
<body>
  
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/"><img src="images/logo.png" alt="Myself" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="recargar">Recargar</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="mx-auto" id="title-index">
        <h1 class="text-white font-tertiary t-principal">La forma más rápida<br> y segura de enviar <br>recargas internacionales</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="images/illustrations/leaf-yellow.png" width="400" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="images/illustrations/leaf-cyan.png" width="200" alt="bg-shape" id="l6-img">
  </div>
</section>
<!-- /hero area -->

<section class="section">
  <div class="col-lg-12 text-center">
    <h2 class="section-title">Recargar Ahora</h2>
  </div>
  <div class="col-lg-10 mx-auto text-center">
    <div class="titulo-secundario my-3">
      <h3 class="sub-title">¡SEGURO, RÁPIDO Y SENCILLO!</h3>
    </div>
    <div class="text-content testimonial-content">
      <p class="font-secondary paragraph-lg text-dark mx-5">
        Mes tras mes, cientos de usuarios envían millones de recargas internacionales a traves de TuRecarga. Haciendo uso del servicio más rápido, eficiente y sencillo de todo el mercado.
      </p>
    </div>
    <div class="buton-recargar">
      <button class="btn btn-primary mt-3">
        <a href="/recargar">¡Vamos álla!</a>  
      </button>
    </div>
  </div>
</section>

<section class="section bg-primary">
  <div class="content-two">
    <div class="title text-center">
      <h2 class="section-title text-white">¿Por qué nosotros?</h2>
    </div>
    <div class="text-center testimonial-content">
        <p class="font-secondary paragraph-lg text-section-two mx-5">
          Porque tenemos las mejores  ofertas diarias para recargas móviles  internacionales, el crédito llega instantáneamente al número de destino y los pagos son procesados en un entorno seguro y confiable. Aproveche al máximo su servicio de recarga móvil: excelente calidad, excelente  servicios y lo mejor de todo: <br><br> <strong>¡Los Mejores Precios Del Mercado!</strong>
        </p>      
    </div>
  </div>
</section>

<!-- footer -->
<footer class="bg-dark">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Correo Electrónico</h5>
          <p class="text-white paragraph-lg font-secondary">services@turecarga.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Teléfono</h5>
          <p class="text-white paragraph-lg font-secondary">+34 154 557 478</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Direccion</h5>
          <p class="text-white paragraph-lg font-secondary">125/A, Area Comercial, España</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Derechos de autor &copy;<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Desarrollado &amp; hecho con &hearts; por: <a class="text-white-50" href="/">TuRecarga</a></p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>
<script src="js/positionCSS.js"></script>


</body>
</html>